// Color Variable
// $primary: #0D7A5B;
// $primary1: #3AAF83;
// $primary2: #62D7A0;
// $subprimary: #0BCDA8;
// $subprimary1: #41E1B3;
// $subprimary2: #67F0BC;
// $secondary: #FFD200;
// $secondary1: #FFE03F;
// $secondary2: #FFE967;
// $black: #26474C;
// $black1: #284D52;
// $black2: #627C7F;
// $white: #F6F6F6;
// $white1: #FFFF;

@import './scss//variable';
@import './scss/service-iot';

*{
    font-family: 'Poppins', sans-serif;
}
// Fix Overlay
body{
    overflow-x: hidden;
    color: $black;
}
// Font
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 40px;
    letter-spacing: 0.5px;
}
h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 0.3px;
}
h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.3px;
}
h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.2px;
}
h5{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.2px;
}
p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.3px;
    b{
       font-weight: 400; 
    } 
    &.p1{
        font-size: 16px;
        letter-spacing: 0.2px;
        b{
            font-weight: 400;
        }
    }
    &.p2{
        font-size: 12px;
        letter-spacing: 0.2px;
        b{
            font-weight: 400;
        }
    }
}
.sh1{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.3px;
}
.sh2{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.2px;
}
a{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.2px;
    .active{
        font-weight: 500;
    }
    text-decoration: none;
}


// Button
.btn{
    border-radius: 20px;
    padding: 10px 20px !important;
}
.btn-primary{
    background-color: $primary !important;
    border: none !important;
    &:hover{
        background-color: $primary1 !important;
        color: $white !important;
        font-weight: 500;
    }
}
.btn-primary-variant{
    background-color: $primary !important;
    border: none !important;
    color: $white;
    &:hover{
        background-color: $primary1 !important;
        color: $white !important;
        font-weight: 500;
    }
}
.btn-secondary{
    background-color: rgba($color: $primary, $alpha: 0.25) !important;
    border: 1px solid $primary !important;
    &:hover{
        background-color: $subprimary !important;
        border:none !important;
        color: $black !important;
        font-weight: 500;
    }
}

// Navbar
.navbar{
    z-index: 7;
    background-color: $primary1;
    position: fixed;
    width: 100%;
    top: 0;
    @media screen and (min-width: 1024px) {
        margin-top: 30px;
        padding: 10px 70px;
        background-color: rgba($color: $primary1, $alpha: 0);
    }
    padding: 10px 10px;
    .container-fluid{
        padding: 0px;
        .navbar-brand{
            padding: 4.5px;
            margin: 0px;
            img{
                height: 40px;
            }
        }
        a{
            color: $white;
            &:hover{
                color: $primary;
            }
            &.active{
                font-weight: bold;
                color: $white1;
            }
        }
        .btn{
            margin: 0px 15px;
        }
    }
    &.sticky{
        background-color: $primary1;
        position: fixed;
        top: 0;
        margin-top: 0px;
        width: 100%;
    }
}

// Hero Section
.hero{
    z-index: 6;
    height: 50vh;
    position: relative;
    @media screen and (min-width:1024px) {
        margin-top: -100px;
        height: 80vh;
    }
    margin-top: 65px;
    .text{
        color: $white;
        position: absolute;
        @media screen and (min-width:480px) {
            top: 30%;
            margin-left: 10px;
        }
        @media screen and (min-width:1024px) {
            top: 40%;
            margin-left: 70px;
        }
    }
    img{
        width: 100%;
        height: 50vh;
        background-size: cover;
        @media screen and (min-width:1024px) {
            height: 80vh;
        }
    }
    .card{
        background-color: $primary;
        width: fit-content;
        padding: 25px 10px;
        color: $white1;
        border: none;
        border-radius: 20px;
        margin: 20px auto;
        @media screen and (min-width: 480px) {
            position: absolute;
            bottom: 10;
            margin-top: -85px;
            left: 10px; 
            padding: 25px 20px;  
        }
        @media screen and (min-width:1024px) {
            left: 70px;
        }
        .item{
            @media screen and (min-width:1024px) {
                gap: 50px;
            }
            h3{
                color: $secondary;
                margin: 0px;
            }
            p{
                margin: 0px;
            }
            .item-desk{
                width: fit-content;
            }
        }
    }
}

// Decription
.desc{
    // offset card hero section 50px
    margin-top: 100px;
    @media screen and (max-width: 479px) {
        // Card Hero section 150px
        margin-top: 200px;
    } 
    .card-item{
        margin-bottom: 80px;
        img{
            border-radius: 20px;
            // height: 264px;
            // width: 410px;
            background-position: center;
            background-size: cover;
        }
        h3{
            color: $primary1;
        }
        h1{
            color: $primary1;
        }
        @media screen and (max-width: 719px) {
            margin-bottom: 20px;
            p{
                text-align: justify;
            }
        }
    }
}

// Banner Layanan
.banner-layanan{
    padding: 60px 0px;
    text-align: center;
    background-image: url('../image/home_banner-layanan.jpg');
    background-size: cover;
    color: $white;
    margin-bottom: 90px;
    .light{
        font-weight: 500;
    }
}

// Layanan
.layanan{
    h2{
        margin-bottom: 80px;
        color: $primary1;
    }
    .card{
        padding: 40px 20px;
        border: none;
        box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        margin: 20px;
        width: fit-content;
        @media screen and (min-width: 720px) {
            margin-bottom: 10px;
            width: 300px;
            height: 535px;
        }
        .card-img{
            padding: 10px;
            border-radius: 20px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
            margin-bottom: 20px;
            height: 232px;
            img{
                width: 230px;
            }
        }
        h3{
            margin-bottom: 5px;
            color: $black;
            text-decoration: none;
        }
        p{
            color: $black;
            text-decoration: none;
        }
        &:hover{
            background-color: $primary;
            .card-img{
                background-color: $primary2;
            }
            h3{
                color: $white1;
            }
            p{
                color: $white1;
            }
        }
    }
}

// Testimoni
.testimoni{
    margin-top: 50px;
    h2{
        color: $primary1;
        margin-bottom: 20px;
    }
    .card{
        padding: 40px 20px;
        border: none;
        box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        margin: 20px;
        width: fit-content;
        @media screen and (min-width: 720px) {
            width: 30vw;
            height: 400px;
        }
        img{
            width: 100px;
            height: 100px;
            border-radius: 100%;
            margin:auto;
        }
        p{
            margin: 10px;
            overflow-y: hidden;
        }
        &:hover{
            background-color: $primary;
            color: $white1;
        }
    }
}

// Footer
.footer{
    margin-top: 160px;
    .company{
        padding: 60px 0px 40px;
        background-color: $black1;
        color: $white;
        img{
            margin-bottom: 20px;
        }
        p{
            a{
                color: $black2;
                &:hover{
                    color: $primary;
                }
            }
        }
        a{
            color: $white;
            &.dis{
                color: $black2;
            }
            &:hover{
                &.dis{
                    color: $black2;
                }
                color: $subprimary2;
            }
        }
    }
    .copyright{
        padding: 20px 0px;
        background-color: $black;
        color: $white;
        h5{
            margin: 0px;
        }
    }
}

// Tim
.tim{
    background-color: $primary1;
    padding: 40px 0px;
    margin-bottom: 60px;
    h2{
        margin-bottom: 20px;
        color: $white;
    }
    .card{
        border: none;
        width: 220px;
        height: fit-content;
        margin: 20px 0px;
        background-color: rgba(0,0,0,0);
        img{
            width: 120px;
            height: 120px;
            border-radius: 100%;
            margin: auto;
            margin-bottom: 20px;
        }
        h5{
            color: $white;
            text-decoration: none;
            margin: 0px;
        }
        p{
            color: $white;
            text-decoration: none;
        }
        &:hover{
            h5{
                text-decoration: underline;
            }
        }
    }
}

// value
.value{
    h2{
        margin-bottom: 20px;
        @media screen and (min-width: 720px) {
            margin-bottom: 80px;
        }
        color: $primary1;
    }
    .card{
        padding: 40px 20px;
        border: none;
        box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.25);
        width: 350px;
        height: 250px;
        border-radius: 15px;
        margin: 20px 0px;
        h3{
            margin-bottom: 5px;
            color: $primary;
            text-decoration: none;
        }
        p{
            color: $black;
            text-decoration: none;
        }
        &:hover{
            background-color: $primary;
            .card-img{
                background-color: $primary2;
            }
            h3{
                color: $white1;
                text-decoration: underline;
            }
            p{
                color: $white1;
            }
        }
    }
}